@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body {
    padding: 0;
    margin: 0;

}


#nav {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 100vh;

}

#navBk {
    position: fixed;
    overflow: hidden;
    /* position: absolute; */
    width: 0%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    right: 0;
    transition: all 1s ease;
}

#navBk.open {
    right: 0px;
    width: 100%;
    transition: all 2s ease;

}

.wave {
    background: #cacbcd;
    width: 1200px;
    height: 1200px;
    border-radius: 40%;
    opacity: 0.9;
    position: absolute;
    top: 0%;
    right: -200px;
    margin-right: -300px;
    margin-top: -250px;
    animation: drift 25s infinite linear;
}

.wave.two {
    animation: drift 35s infinite linear;
    background: #6482bf;
    opacity: 0.4;
}

.wave.three {
    animation: drift 45s infinite linear;
    background: #708abd;
    opacity: 0.3;
}


@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* nav 動態背景 */

#navList {
    position: absolute;
    right: 100px;
    top: 10vh;
    font-size: 58px;
}

#navList li {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;

}

#navList li a {
    font-family: "Times New Roman";
    color: white;
    text-decoration: none;

}

#navList li a:hover {
    color: black;
    transition: all 1s ease;
}

/* nav表 */

#nav-icon {
    top: 12px;
    right: 12px;
    position: fixed;
    z-index: 9999;
    width: 32px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background: rgba(74, 58, 196, 0.8);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon span:nth-child(4) {
    top: 20px;
}


#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Menu-icon */




#header img {

    padding-top: 100px;
    padding-left: 250px;
    ;
}

#poem>p {
    /* border: 2px solid red; */

    font-family: "cwTeXFangSong", serif;
    font-size: 28px;
    position: absolute;

    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#poem>p:nth-child(1) {
    right: 12%;
    top: 16%;
}

#poem>p:nth-child(2) {
    right: 16%;
    top: 28%;
}

#poem>p:nth-child(3) {
    right: 20%;
    top: 72%;
}

#title {
    position: fixed;
    width: 150px;
    height: 100vh;
    top: 20px;
    left: 20px;

}

#logo {

    width: 160px;
    height: 180px;
}

#title img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#titleList {
    margin-top: 50px;
    width: 200px;

}

#titleList li {
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    margin-top: 15px;
    list-style: none;
    font-size: 28px;
    font-family: "cwTeXFangSong", serif;

}

#titleList li>a {

    color: black;
    text-decoration: none;
    transition: all 1s ease;

}




#content {
    padding-left: 250px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.chap {
    height: 100vh;
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 300px;
}


.chap>p {
    font-size: 42px;
    padding-top: 50px;

    font-family: "cwTeXFangSong", serif;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

}

.chap #bk1 {
    height: 100vh;
    background-image: url(../_image/蚵/chap1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chap #bk2 {
    height: 100vh;
    background-image: url(../_image/蚵/chap2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chap #bk3 {
    height: 100vh;
    background-image: url(../_image/蚵/chap3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.chap #bk4 {
    height: 100vh;
    background-image: url(../_image/蚵/chap4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.Ke {
    text-align: center;
    margin-bottom: 300px;

    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.Ke p {

    text-align: start;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Noto Sans TC', sans-serif !important;

    /* margin-left: 10%;
    width: 70%; */
}



#make1 {
    margin-top: 50px;
}

#makeImg {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#makeImg img {
    margin: auto;
    object-fit: cover;
    width: 320px;
    height: 200px;
}

#YunKe,
#method {
    font-size: 32px;
    text-align: center;
    height: 50px;
    margin-bottom: 50px;


}

#YunKe span,
#method span {
    margin-right: 15px;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.s1 {
    font-size: 32px;
    margin-bottom: 50px;
    font-family: "cwTeXFangSong", serif;
}

.kee {
    display: block;
    width: 100%;
    height: 500px;
}

.mContent {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 500px;
}

.mContent img {
    padding: 10px 10px;
    height: 480px;
    width: 90%;
    object-fit: cover;
}


#Kefoot {
    margin-bottom: 0;
    text-align: center;
}

#footer {
    background-image: url(../_image/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    z-index: 99;



}

#footer img {
    position: absolute;
    object-fit: contain;
    width: 144px;
    top: -110px;
    right: 20px;
}

#footContent img {
    top: -158px;
    left: 48%;
    position: absolute;
    object-fit: contain;
    width: 80px;
}

#top-icon {
    cursor: pointer;
    z-index: 2;
    bottom: 16px;
    left: 1480px;
    margin-top: -56px;
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

/*區塊禁止選取*/
#top-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 18px;
    top: -10px;
    background: rgba(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    right: 6px;
    z-index: 999;
}

#top-icon span:nth-child(1) {
    left: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    animation: top1 0.6s infinite linear;
}

#top-icon span:nth-child(2) {
    margin-right: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    animation: top2 0.6s infinite linear;

}

#top-icon p {
    bottom: 6px;
    font-family: "Arial Black";
    color: #FFF;
    animation: topP 0.6s infinite linear;
    text-align: center;
}

@keyframes top1 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@keyframes top2 {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(150deg);
    }
}

@keyframes topP {
    0% {
        font-size: 14px;
    }

    100% {
        font-size: 16px;
    }
}

#footContent {
    position: relative;
    top: 220px;
    text-align: center;
    color: #FFF
}


#footContent a {
    color: #FFF;
    text-decoration: none;

}


/* footer */