@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

/* <--------------------header start -----------------------> */


body {
    padding: 0;
    margin: 0;
    background-color: #FFF;
}

/* 網頁捲軸【寬度】 */
/* ::-webkit-scrollbar {
    width: 12px;
} */

/* 滾動條隱藏 */
/* body::-webkit-scrollbar {
    display: none;
} */

/* 網頁捲軸【背景】顏色 */
/* ::-webkit-scrollbar-track {
    background: none;
} */

/* 網頁捲軸【把手】顏色 */
/* ::-webkit-scrollbar-thumb {
    background: none;
} */

#header {
    width: 100%;
    height: 100vh;
    background-image: url("../_image/top.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 1.5s ease;
    /* position: relative; */

}

#logo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo>svg {
    position: absolute;
    width: 70%;
    height: 70%;
}

#inner img {
    object-fit: contain;
    position: relative;
}

#inner #logo1 {
    position: relative;
    height: 280px;
    left: -105%;
    /* border: 2px solid red; */
    animation-fill-mode: forwards;
    animation-name: inner;
    animation-duration: 5s;
    z-index: 1;
}

@keyframes inner {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 動態LOGO */

#logocontent {
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: rgb(206, 206, 206) 0.1em 0.1em 0.2em;
    font-size: 28px;
    left: 400px;
    top: 30px;

    font-family: "cwTeXFangSong", serif;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;

}

/* 首頁題字 */

#nav {
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 100vh;

}

#navBk {
    position: fixed;
    overflow: hidden;
    width: 0%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    right: 0;
    transition: all 1s ease;
}

#navBk.open {
    right: 0px;
    width: 100%;
    transition: all 2s ease;

}

.wave {
    background: #cacbcd;
    width: 1200px;
    height: 1200px;
    border-radius: 40%;
    opacity: 0.9;
    position: absolute;
    top: 0%;
    right: -200px;
    margin-right: -300px;
    margin-top: -250px;
    animation: drift 25s infinite linear;
}

.wave.two {
    animation: drift 35s infinite linear;
    background: #8ea3cc;
    opacity: 0.4;
}

.wave.three {
    animation: drift 45s infinite linear;
    background: #37383a;
    opacity: 0.3;
}


@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* nav 動態背景 */

#navList {
    position: absolute;
    right: 100px;
    top: 10vh;
    font-size: 58px;
}

#navList li {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;

}

#navList li a {
    font-family: "Times New Roman";
    color: white;
    text-decoration: none;

}

#navList li a:hover {
    color: black;
    transition: all 1s ease;
}

/* nav表 */

#nav-icon {
    top: 12px;
    right: 12px;
    position: fixed;
    z-index: 9999;
    width: 32px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon span:nth-child(4) {
    top: 20px;
}


#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Menu-icon */

.Separator {
    text-align: center;
    font-size: 26px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Separator img:nth-child(1) {
    height: 120px;
    width: 3px;
}

.Separator img:nth-child(4) {
    height: 80px;
    width: 3px;
}

#start {
    display: grid;
    grid-template-columns: 20% 80%;
}

#start h3,
#start p {
    padding: 15% 15%;
}

#start img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.food {
    position: relative;
}

.food img {
    /* padding: 50px 150px; */
    position: relative;
    width: 100%;
    object-fit: cover;
}

#cfood {
    text-align: center;
    border-radius: 5px;
    width: 16%;
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 200px;
    margin-bottom: -200px;
    text-align: start;
    font-size: 22px;
    padding: 50px 50px;
    font-family: 'Noto Sans TC', sans-serif !important;


    /* border: 2px solid red; */
}


.more {
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 142px;
    width: 42px;



}

.morebk {
    /* border: 2px solid red; */

    position: absolute;
    top: -150px;
    margin-top: -5px;
    margin-left: -5px;
    height: 150px;
    width: 50px;
    background-color: #000;
    transition: all 1s ease;
    z-index: 0;
}

.morea {
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
    transition: all 1s ease;
}




#footer {
    background-image: url(../_image/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    z-index: 99;
    margin-top: 150px;
}

#footer img {
    position: absolute;
    object-fit: contain;
    width: 144px;
    top: -110px;
    right: 20px;
}

#footContent img {
    top: -158px;
    left: 48%;
    position: absolute;
    object-fit: contain;
    width: 80px;
}

#top-icon {
    cursor: pointer;
    z-index: 2;
    bottom: 16px;
    left: 1480px;
    margin-top: -56px;
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

/*區塊禁止選取*/
#top-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 18px;
    top: -10px;
    background: rgba(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    right: 6px;
    z-index: 999;
}

#top-icon span:nth-child(1) {
    left: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    animation: top1 0.6s infinite linear;
}

#top-icon span:nth-child(2) {
    margin-right: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    animation: top2 0.6s infinite linear;

}

#top-icon p {
    bottom: 6px;
    font-family: "Arial Black";
    color: #FFF;
    animation: topP 0.6s infinite linear;
    text-align: center;
}

@keyframes top1 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@keyframes top2 {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(150deg);
    }
}

@keyframes topP {
    0% {
        font-size: 14px;
    }

    100% {
        font-size: 16px;
    }
}

/* #footer {
    overflow: hidden;

} */

#footContent {
    position: relative;
    top: 220px;
    text-align: center;
    color: #FFF
}


#footContent a {
    color: #FFF;
    text-decoration: none;

}

/* 底選單 */